/** Removing Horiz. Scrollbar **/
body {
    overflow-x: hidden;
    min-height: 100%;
}

.mainContent {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 200px;
}

/** Main Content Responsive **/
@media (max-width: 871px) {
    .mainContent {
        padding-bottom: 265px;
    }
}

@media (max-width: 500px){
    .mainContent {
        padding-bottom: 320px;
    }
}
/** Navigation Styles **/
.mainMenu {
    border-bottom: 1px #979797 solid;
    box-shadow: 0px 0px 1px 0px #000000;
}

img.mainMenuLogo {
    height: 2em;
}

@media (min-width: 768px) {
    div#navbarNav {
        display: flex;
        justify-content: flex-end;
    }
}

li.nav-item {
    margin-left: 1em;
}

a.nav-link {
    color: #2d2d2d;
    font-weight: 100;
}

.navbar-toggler-icon {
    border-color: black;
}

/** Page Header Styles **/
.pageHeaderOutline {
    height: 0;
    width: 25em;
    border-bottom: 90px solid #5087B3;
    border-right: 120px solid transparent;
}

.pageHeaderOutline h1 {
    text-align: center;
    padding: .5em;
    color: white;
}

/** Secondary Header Styles **/
.secondaryHeader {
    display: flex;
    justify-content: flex-end;
}

.secondaryHeaderOutline {
    height: 0;
    width: 25em;
    border-bottom: 90px solid #CD5334;
    border-left: 120px solid transparent;
}

.secondaryHeaderOutline h2 {
    text-align: center;
    padding: .5em;
    font-size: 2.5rem;
    color: white;
}

/** Section Header **/
.sectionHeader {
    text-align: center;
    margin-top: 2em;
    font-style: italic;
}

.sectionHeader h2 {
    font-weight: 300;
}

.sectionHeader p {
    font-weight: 300;
    padding-bottom: 2em;
}

.sectionHeader hr {
    width: 75%;
}

/** Footer Styles **/
.footer {
    border-top: 1px #979797 solid;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.socialMediaNav {
    padding-top: .75em;
}

.socialMediaNav p {
    margin-bottom: 0;
    font-weight: 200;
}

.socialMediaLinks svg {
    color: #CD5334;
    margin: 3px;
}

.footerMainInformation {
    padding-top: 1.5em;
    padding-right: 15em;
    font-style: italic;
}

.footerMainInformation h2 {
    font-weight: 400;
}

.footerMainInformation button {
    background-color: #5087B3;
    border: #5084b3;
    border-radius: 2px;
    padding-left: 3em;
    padding-right: 3em;
    font-weight: 600;
    font-style: italic;
}

.footerMainInformation p {
    color: #9B9B9B;
    margin-top: .5em;
    font-size: 18px;
}

.contactUsButtonFooter a {
    color: white;
}

/** Footer Responsive **/
@media (max-width: 767px) {
    .footerMainInformation {
        padding-right: 0;
    }
}

/** Homepage Specific Styles **/
/*
.homepageHeader {
    height: 35em;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
*/
.homepageHeaderImage img {
    /* z-index: -10; */
    height: 100%;
    width: 100%;
}

.companyNameQuoteBox {
    background-color: white;
    opacity: .8;
    width: 100%;
    padding: 1em;
    position: absolute;
    bottom: 0;
}

.companyNameQuoteBox h2, p {
    font-weight: bold;
}

.homepageQuoteLogoRow {
    background-color: #202020;
    padding: 3em;
}

.quoteLogoHighlightBox {
    padding: 1em;
    background-color: #383838;
    color: white;
    border-radius: 2px;
}

.debHighlightLogo img {
    height: 12em;
    display: block;
    margin: auto;
}

.debHighlightQuote {
    display: block;
    margin: auto;
}

.debHighlightQuote h3 {
    font-size: x-large;
}

.serviceBox {
    padding: .5em;
}

.serviceBoxContent {
    text-align: center;
    background-color: #F6F6F6;
    border: solid 2px #EDEDED;
    border-radius: 2px;
    padding: 2em;
}

.serviceBoxContent a {
    color: #5087B3;
    font-weight: bold;
}

.serviceBoxContent svg {
    margin: .25em;
}

.homepageCertificationRow {
    background-image: url("imgs/DebALion-1 (dragged).png");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: black;
    background-size: contain;
    padding: 3em 10em;
}

.certificationBlueHighlight {
    text-align: center;
    background-color: #5087b3;
    color: white;
    padding: 1em;
    opacity: 0.9;
}

/** Homepage Responsive Styles **/
@media (max-width: 760px) {
    .certLogoHomepage {
        width: 75%;
    }

    .homepageCertificationRow {
        padding: 3em 3em;
    }
}

@media (max-width: 560px) {
    .companyNameQuoteBox {
        position: relative;
    }
}

/** About Us Style **/
.groupPhoto {
    padding-right: 0;
}

.groupPhoto img {
    width: 100%;
    height: 100%;
}

.aboutUsSummary {
    background-color: #4A4A4A;
    display: flex;
    align-items: center;
}

.aboutUsContentBox {
    background-color: #5A5A5A;
    color: white;
    padding: 3em 1em;
    margin: 1em;
    font-size: 18px;
}

.ourTeamHighlightSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-style: italic;
    background-color: #f6f6f6;
    padding: 2em;
    border-radius: 4px;
}

a.teamMemberUrl {
    text-decoration: none;
    color: black;
}

.teamMemberProfile {
    width: 26em;
}

.sectionHeader.aboutUsSectionHeader hr {
    border-color: #5087B3;
}

.teamMemberProfilePhoto {
    height: 30em;
    background-repeat: no-repeat;
    display: flex;
}

.teamMemberName {
    font-size: 20px;
    margin-left: 20px;
}

p.responsiveTitle {
    display: none;
}

.teamMemberHoverTitle {
    align-self: flex-end;
}

.teamMemberHoverTitle h3 {
    padding: 15px;
    color: transparent;
    font-size: 30px;
    opacity: .9;
}

.teamMemberProfilePhoto:hover > .teamMemberHoverTitle h3 {
    background-color: #CD5334;
    color: white;
    transition: 1s;
}
/** About Us Responsive **/
@media (max-width: 770px) {
    .awardPhoto img {
        height: 12em;
    }
    p.responsiveTitle {
        display: block;
        margin-top: -15px;
    }
}

/** Individual Team Profile Pages **/
.bioSection {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.fullProfileRow {
    margin-top: 3em;
}

.fullProfileImage {
    text-align: center;
}

.fullProfileImage img {
    width: 50%;
}

.pageHeaderOutline.newtonBioPagesHeader {
    width: 38em;
}

.pageHeaderOutline.bioPagesHeader {
    width: 35em;
    font-size: 18px;
}

.pageHeaderOutline.ashtonBioPagesHeader {
    width: 30em;
}

.pageHeaderOutline.davidBioPagesHeader {
    width: 24em;
}

.pageHeaderOutline.johnBioPagesHeader {
    width: 26em;
}

.pageHeaderOutline.margBioPagesHeader {
    width: 30em;
}

.pageHeaderOutline.jimsBioPagesHeader {
    width: 30em;
}
@media (max-width: 530px) {
    .pageHeaderOutline.newtonBioPagesHeader {
        width: 32em;
    }

    .pageHeaderOutline.newtonBioPagesHeader h1 {
        padding-top: .75em;
        font-size: 32px;
    }
}

@media (max-width: 400px) {
    .pageHeaderOutline.ashtonBioPagesHeader {
        width: 24em;
    }

    .pageHeaderOutline.ashtonBioPagesHeader h1 {
        font-size: 29px;
        margin-bottom: 0;
        padding-top: 1em;
    }

    .pageHeaderOutline.margBioPagesHeader {
        width: 24em;
    }

    .pageHeaderOutline.margBioPagesHeader h1 {
        font-size: 30px;
        margin-bottom: 0;
        padding-top: .75em
    }

    .pageHeaderOutline.newtonBioPagesHeader {
        width: 24em;
    }

    .pageHeaderOutline.newtonBioPagesHeader h1 {
        padding-top: .5em;
        font-size: 25px;
    }
}
/** Services Styles **/
.pageHeaderOutline.servicePagesHeader h1 {
    font-size: 36px;
}

.sectionHeader.servicesSectionHeader hr {
    border-color: #CD5334;
}

.serviceBox {
    padding: .5em;
}

.serviceBoxHighlight:hover {
    background-color: #3a3a3a;
}

a.serviceBoxLink {
    color: transparent;
}

.serviceBoxHighlight {
    background-color: #2D2D2D;
    color: white;
    padding: 1em;
    text-align: center;
}

.servicesQuickDescriptionBox {
    min-height: 6em;
}

img.serviceBoxImage {
    height: 15em;
    width: 75%;
}

/** Service Page Responsive **/
@media (max-width: 600px) {
    .pageHeaderOutline.servicePagesHeader h1 {
        font-size: 28px;
    }
}
/** Individual Service Pages Styles **/
.pageHeaderOutline.servicePagesHeader {
    width: 36em;
}

.servicePageImage {
    text-align: center;
}

.servicePageImage img {
    width: 75%;
}

.servicePageDescription {
    padding-left: 4em;
    padding-top: 1em;
}

.servicePageList li {
    font-weight: bold;
}

.serviceContactRow {
    text-align: center;
    margin-top: 5em;
    margin-bottom: 5em;
}

button.servicePageContactButton {
    padding: 1em;
    font-size: 18px;
}

.servicePageContactButton a {
    color: white;
}

button.servicePageContactButton {
    padding: 1em;
    font-size: 18px;
    background-color: #5087B3;
    color: white;
    font-weight: bold;
    border-color: #5087B3;
    border-radius: 2px;
}

.servicesPagesSecondaryHeader {
    margin-top: 1em;
}

.moreInfoServiceRow {
    background-color: #f9f9f9;
    height: 15em;
}

/** Individual Service Pages Responsive Styles **/
@media (max-width: 600px) {
    .servicePagesHeader h1 {
        font-size: 28px;
    }

    .pageHeaderOutline.servicePagesHeader {
        width: 25em;
    }

}

/** Clients Styles **/
.clientsHeader {
    background: url("imgs/ClientsHeader.png") center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;

}

.clientsSecondHeaderHighlight {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 400px 400px 0 0;
    border-color: #ffff transparent transparent transparent;
    opacity: .75;
}

.clientsSecondHeaderHighlight h2 {
    padding: .5em;
    color: #CD5334;
    font-weight: bold;
    font-style: italic;
    font-size: 40px;
    position: absolute;
    top: 4em;
}

.clientsQuoteBox {
    text-align: center;
    background-color: #F6F6F6;
    border: 2px solid #EDEDED;
    margin: 2em 5em;
    padding: 1.5em;
    box-shadow: 4px 2px 4px 1px #888888;
}

.clientsContainer {
    text-align: center;
}

.topClientsBookend {
    height: 10em;
    width: 10em;
    background: white;
    margin-left: 5em;
    border-top: 2px solid #CD5334;
    border-left: 2px solid #CD5334;
}

.bottomBookendContainer {
    display: flex;
    justify-content: flex-end;
}

.bottomClientsBookend {
    height: 10em;
    width: 10em;
    background: white;
    margin-right: 5em;
    border-bottom: 2px solid #CD5334;
    border-right: 2px solid #CD5334;
}

.horizontalClientLogo {
    padding-top: 4em;
}

/** Clients Responsive Styles **/
@media (min-width: 1000px) {
    .clientsHeader {
        height: 35em;
        background-position-y: top;
    }

}

@media (max-width: 769px) {
    .clientsSecondHeaderHighlight {
        border-style: none;
        border-width: unset;
        border-color: unset;
        opacity: .75;
        height: 25em;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    .clientsSecondHeaderHighlight h2 {
        padding: .5em;
        color: #CD5334;
        font-weight: bold;
        font-style: italic;
        font-size: 40px;
        background: white;
        position: unset;
        margin-bottom: 0;
    }
}

/** Projects Styles **/
.comingSoon {
    display: flex;
    justify-content: center;
    height: 15em;
    align-items: center;
}

.comingSoon h2 {
    font-size: 64px;
    font-style: italic;
}

.serviceContactRow h3 {
    /* text-align: left; */
    /* margin-top: 6px; */
    /* margin-top: 0em; */
    /*padding-bottom: .5em;*/
}

/** Contact Us Styles **/
.contactUsHeader {
    border-top: 1px solid #979797;
    text-align: center;
    font-style: italic;
    padding: 1.5em;
}

.contactUsHeader h2 {
    font-weight: 200;
}

.contactInfoSection {
    background-color: #4A4A4A;
}

.contactInfoHighlight {
    background-color: #5A5A5A;
    margin: 1.5em;
    color: white;
    padding: 1em;
}

.contactInfoContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contactInfoContent p {
    height: 5.5vh;
}

.contactInfoHighlight h3 {
    text-align: center;
}

.contactInfoHighlight a {
    color: white;
}

.contactInfoContent a:hover {
    color: white;
}

.contactUsSecondary {
    margin-top: 2em;
}

.col-md-6.addressMap {
    padding-right: 0;
}

.moreInfoFormSection iframe {
    margin: auto;
    display: block;

}

.moreInfoPhotoSection {
    background: url("imgs/MargPhoto.png") center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    padding-left: 0;
    padding-right: 0;
}

.lionOverlay {
    display: flex;
    flex-direction: row;
}

.lionOverlay img {
    background-color: black;
    padding: 2em;
    opacity: 0.8;
    height: 15em;
}

/** Contact Us Responsive Styles **/
@media (max-width: 1645px) {
    .lionOverlay img {
        height: 12em;
    }
}

@media (max-width: 1500px) {
    .lionOverlay img {
        height: 14em;
    }
}

@media (max-width: 1100px) {
    .lionOverlay {
        justify-content: flex-start;
        height: 20em;
    }
}

@media (max-width: 759px) {
    .moreInfoPhotoSection {
        height: 17em;
    }

    .lionOverlay img {
        height: 10em;
    }
}